$def with (data)
<!DOCTYPE html>
<html> 
  <head> 
    <title>School Profiles by MP/MLA Constituency</title>
    <link type="text/css" rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bos.css"/>
    <link rel="stylesheet" media="print" type="text/css" href="/css/print_style.css"/>
    <style>
    .google-visualization-table-table *  { font-size:small; }
    </style> 
    <script type="text/javascript" src="/js/bos.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="/js/demographics.js"></script>
  </head>
  <body onload="initialise($data)" >

<div class="container container_12">
<!--======================-->
    <div class="clearheader">&nbsp;</div>
    <div class="grid_8"> 
    	<div id="constname"></div>
    </div>
    <div class="grid_4">
    <div id="reportdate" style='text-align:right; font-size:9pt'></div>
    </div>
<!------------------------->
    <!--div class="clear">&nbsp;</div>
    <div class="hr"><hr></hr></div>
    <div class="grid_12"> 
    </div--> 
<!------------------------->
    <div class="clear">&nbsp;</div>
    <div class="grid_6">
    	<div id="constinfo"></div>
      <div id="hiddenip"></div>
     	<div id="instcounts"></div>
    </div> 
    <div class="grid_6"> 
    <h3 style='text-align:right'><div id="rephead"></div></h3>
    </div>
<!--======================-->
    <div class="clear">&nbsp;</div>
    <div class="hr"><hr/></div>
    <div class="grid_12">
    	<h2><div id='schoolhead'></div></h2>
      	<div id="sch_txt" style="text-align:justify"></div>
    </div>
<!------------------------->
    <div class="clear">&nbsp;</div>
    <div class="grid_6">
      <div id="catsch"></div>
      <div id="catsch_tb"></div>
   </div>
   <div class="grid_6">
      <div id="enrolsch"></div>
      <div id="enrolsch_tb"></div>
   </div>
<!--======================-->
   <div class="clear">&nbsp;</div>
   <div class="hr"><hr/></div>
   <div class="grid_12">
      <h2><div id="langhead"></div></h2>
      <div id="lang_txt" style="text-align:justify"></div>
   </div>
<!------------------------->
   <div class="clear">&nbsp;</div>
   <div class="grid_6">
      <div id="moisch"></div>
      <div id="moisch_tb"></div>
   </div>
   <div class="grid_6">
      <div id="mtsch"></div>
      <div id="mtsch_tb"></div>
   </div>
<!--======================-->
   <div class="clearbreak">&nbsp;</div>
   <div class="hr"><hr/></div>
   <div class="grid_12">
      <h2><div id="enrolhead"></div></h2>
   </div>
<!------------------------->
   <div class="clear">&nbsp;</div>
   <div class="grid_6">
      <div id="enrolpresch"></div>
      <div id="enrolpresch_tb"></div>
      <div id="enrol_txt" style="text-align:justify"></div>
   </div>
   <div class="grid_6">
      <div id="mtpresch"></div>
      <div id="mtpresch_tb"></div>
   </div> 
<!--======================-->
   <div class="clear">&nbsp;</div>
   <div class="hr"><hr/></div>
   <div class="grid_12">
    <h2><div id="gendhead"></div></h2>
      <div id="presch_txt" style="text-align:justify"></div>
   </div>
<!------------------------->
   <div class="clear">&nbsp;</div>
   <div class="grid_6">
      <div id="gendsch"></div>
      <div id="gendsch_tb"></div>
   </div>
   <div class="grid_6">
      <div id="gendpresch"></div>
      <div id="gendpresch_tb"></div>
   </div> 
<!--======================-->
   <div class="clear">&nbsp;</div>
   <div class="hr"><hr/></div>
   <div class="grid_12">
    <h2><div id="neighhead"></div></h2>
      <div id="neighbourssch_head" style='text-align:center; font-size:8pt; font-weight:bold'></div>
   </div>
   <div class="grid_6">
      <div id="neighbourssch"></div>
   </div>
   <div class="grid_6">
      <div id="neighboursgendsch"></div>
      <!--div id="neighbourssch_tb"></divi-->
   </div> 
   <div class="grid_12">
      <div id="neighbourspresch_head" style='text-align:center; font-size:8pt; font-weight:bold'></div>
   </div>
   <div class="grid_6">
      <div id="neighbourspresch"></div>
   </div>
   <div class="grid_6">
      <div id="neighboursgendpresch"></div>
      <!--div id="neighbourspresch_tb"></div-->
    </div> 
<!------------------------->
    <div class="clear">&nbsp;</div>
    <div class="grid_12">
      <div id="neighbours_txt" style="text-align:justify"></div>  
    </div>
<!--======================--> 
    <div class="clear">&nbsp;</div>
    <div class="hr"><hr/></div>
    <div class="grid_12">
      <div id="source_txt" style="text-align:left; font-size:8pt"></div>  
    </div>

</div><!--container-->
  </body>
</html> 
